*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;

    &.is-overflow {
        scrollbar-gutter: stable;
    }
}

.page {
    background-color: #fff;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: var(--primary_font);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    @media(min-width: $sm) {
        font-size: 16px;
    }

    &.is-overflow {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    &--main_page {
        h2 {
            font-size: 28px;
            @media(min-width: $sm) {
                font-size: 36px;
            }
            @media(min-width: $hd) {
                font-size: 40px;
            }
        }
    }

    &--dark {
        background-color: var(--rich_green);
        color: #fff;

        .page__title {
            background-color: var(--rich_green);
        }

        .page__content {
            a {
                &:not([class]) {
                    color: #fff;
                    @include hover {
                        color: var(--beige);
                    }
                }
            }

            .breadcrumbs__link {
                color: #fff;
                @include hover {
                    color: var(--beige);
                }
            }
        }
    }

    &--pale {
        background-color: #DAE5D4;

        .page__title {
            background-color: #fff;
        }
    }

    &__content {
        flex: 1 0 auto;
        padding-top: var(--header_min_height);
    }

    &__banner {
        background-color: var(--rich_green);
        color: #fff;
        padding-top: 95px;
        padding-bottom: 45px;
        @media(min-width: $sm) {
            padding-top: 30px;
        }
        @media(min-width: $md) {
            padding-top: 45px;
        }
        @media(min-width: $hd) {
            padding-top: 50px;
            padding-bottom: 60px;
        }

        a {
            color: #fff;
        }
    }

    &__banner-inner {
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            gap: 24px;
            justify-content: space-between;
        }

        &--type_1 {
            @media(min-width: $md) {
                position: relative;
                justify-content: center;
            }

            .page__banner-image {
                @media(min-width: $md) {
                    position: relative;
                    margin-right: 9%;
                    width: 23.5%;
                }

                &::after,
                &::before {
                    @media(min-width: $md) {
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: contain;
                        content: '';
                        height: 54px;
                        position: absolute;
                        width: 54.34%;
                    }
                }

                &::before {
                    @media(min-width: $md) {
                        background-image: url("data:image/svg+xml,%3Csvg width='150' height='55' viewBox='0 0 150 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98535 54.501C0.888329 54.5007 -0.000917125 53.6214 -0.000976562 52.5371C-0.000976562 51.4528 0.888292 50.5735 1.98535 50.5732C2.12867 50.5732 2.26861 50.5897 2.40332 50.6182L52.3936 0.646484L52.54 0.5H150V1.5H52.9541L3.33594 51.0996C3.72657 51.4582 3.97266 51.9686 3.97266 52.5371C3.9726 53.6215 3.08258 54.501 1.98535 54.501Z' fill='%23D7B56D'/%3E%3C/svg%3E%0A");
                        left: auto;
                        top: 40px;
                        right: -35%;
                    }
                }

                &::after {
                    @media(min-width: $md) {
                        background-image: url("data:image/svg+xml,%3Csvg width='150' height='55' viewBox='0 0 150 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M148.015 0.5C149.112 0.500235 150.001 1.37893 150.001 2.46289C150.001 3.54677 149.112 4.42555 148.015 4.42578C147.871 4.42578 147.731 4.40935 147.597 4.38086L97.6064 54.3525L97.46 54.499H0V53.499H97.0459L146.664 3.89941C146.274 3.541 146.027 3.03105 146.027 2.46289C146.027 1.37878 146.917 0.5 148.015 0.5Z' fill='%23D7B56D'/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        bottom: 20px;
                        left: -35%;
                        top: auto;
                    }
                }

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='150' height='55' viewBox='0 0 150 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98535 54.501C0.888329 54.5007 -0.000917125 53.6214 -0.000976562 52.5371C-0.000976562 51.4528 0.888292 50.5735 1.98535 50.5732C2.12867 50.5732 2.26861 50.5897 2.40332 50.6182L52.3936 0.646484L52.54 0.5H150V1.5H52.9541L3.33594 51.0996C3.72657 51.4582 3.97266 51.9686 3.97266 52.5371C3.9726 53.6215 3.08258 54.501 1.98535 54.501Z' fill='%23D7B56D'/%3E%3C/svg%3E%0A");
                }

                img {
                    @media(min-width: $md) {
                        aspect-ratio: 1;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            h1 {
                @media(min-width: $md) {
                    left: var(--container_padding);
                    max-width: 380px;
                    position: absolute;
                    top: 0;
                    width: 32.47%;
                }
            }

            p {
                @media(min-width: $md) {
                    left: auto;
                    max-width: 380px;
                    position: absolute;
                    right: var(--container_padding);
                    top: 0;
                    width: 32.47%;
                }
            }

            .page__banner-badges {
                @media(min-width: $md) {
                    bottom: 0;
                    left: var(--container_padding);
                    max-width: 300px;
                    position: absolute;
                    top: auto;
                    width: 25.6%;
                }
            }
        }
    }

    &__banner-image {
        margin-bottom: 45px;
        max-width: 475px;
        width: 100%;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }
        @media(min-width: $md) {
            margin-bottom: 0;
        }
        @media(max-width: $md - 0.02px) {
            margin-left: auto;
            margin-right: auto;
        }

        img {
            border-radius: 18px;
            display: block;
            width: 100%;
            @media(min-width: $sm) {
                border-radius: 24px;
            }
        }
    }

    &__banner-text {
        line-height: 1.5;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $md) {
            max-width: 590px;
        }
        @media(min-width: $hd) {
            font-size: 18px;
        }
    }

    &__banner-badges {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        &:not(:last-child) {
            @media(max-width: $md - 0.02px) {
                margin-bottom: 12px;
            }
        }
    }

    &__banner-badge {
        align-items: center;
        border-radius: 8px;
        background-color: var(--rich_green);
        border: 1px solid var(--beige);
        color: var(--beige);
        display: flex;
        height: 40px;
        padding: 8px;
    }

    &__title {
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        @media(min-width: $sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @media(min-width: $hd) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h1 {
            align-items: center;
            display: flex;
            min-height: 46px;
        }
    }

    &__section {
        padding-bottom: 48px;
        @media(min-width: $sm) {
            padding-bottom: 56px;
        }
        @media(min-width: $hd) {
            padding-bottom: 70px;
        }

        &--pale {
            background-color: #DAE5D4;

            & + .page__section--pale {
                padding-top: 0;
                @media(min-width: $sm) {
                    padding-top: 0;
                }
                @media(min-width: $hd) {
                    padding-top: 0;
                }
            }

            & + .page__section {
                padding-top: 48px;
                @media(min-width: $sm) {
                    padding-top: 56px;
                }
                @media(min-width: $hd) {
                    padding-top: 70px;
                }
            }
        }

        &--beige {
            background-color: #F7F0E2;

            & + .page__section--beige {
                padding-top: 0;
                @media(min-width: $sm) {
                    padding-top: 0;
                }
                @media(min-width: $hd) {
                    padding-top: 0;
                }
            }

            & + .page__section {
                padding-top: 48px;
                @media(min-width: $sm) {
                    padding-top: 56px;
                }
                @media(min-width: $hd) {
                    padding-top: 70px;
                }
            }
        }

        &--dark {
            background-color: var(--rich_green);
            color: #fff;
            padding-top: 48px;
            @media(min-width: $sm) {
                padding-top: 56px;
            }
            @media(min-width: $hd) {
                padding-top: 70px;
            }

            & + .page__section {
                padding-top: 48px;
                @media(min-width: $sm) {
                    padding-top: 56px;
                }
                @media(min-width: $hd) {
                    padding-top: 70px;
                }
            }

            & + .page__section--dark {
                padding-top: 0;
                @media(min-width: $sm) {
                    padding-top: 0;
                }
                @media(min-width: $hd) {
                    padding-top: 0;
                }
            }

            a {
                color: #fff;
            }
        }

        &--baige,
        &--pale {
            padding-top: 48px;
            @media(min-width: $sm) {
                padding-top: 56px;
            }
            @media(min-width: $hd) {
                padding-top: 70px;
            }
        }
    }

    svg {
        display: block;
        max-height: initial !important;
        max-width: initial !important;
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

.full-width {
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    @media(min-width: $hd) {
        margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
    }
}

.title-block {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
    @media(min-width: $sm) {
        margin-bottom: 32px;
    }

    a {
        font-size: 16px;
        font-weight: 500;
    }

    h2,
    h3 {
        margin: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.h1,
h1 {
    font-family: var(--secondary_font);
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 20px;
    @media(min-width: $sm) {
        font-size: 30px;
    }
    @media(min-width: $hd) {
        font-size: 40px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h2,
h2 {
    font-family: var(--secondary_font);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 16px;
    @media(min-width: $sm) {
        font-size: 30px;
        margin-bottom: 32px;
    }
    @media(min-width: $hd) {
        font-size: 40px;
    }

    &:not(:first-child) {
        margin-top: 16px;
        @media(min-width: $sm) {
            margin-top: 32px;
        }
        @media(min-width: $hd) {
            margin-top: 40px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h3,
h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    @media(min-width: $hd) {
        font-size: 18px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: var(--black);
    transition: color 0.3s;
    @include hover {
        color: var(--beige);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 16px;
    @media(min-width: $sm) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;
}

ol {
    list-style-position: inside;
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 24px;
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &::before {
                background-color: currentColor;
                border-radius: 50%;
                content: '';
                height: 2px;
                left: 12px;
                position: absolute;
                top: 0.725em;
                transform: translate(-50%, -50%);
                width: 2px;
                z-index: 1;
            }
        }
    }
}

.leaf-list {
    @include list-reset;
    @media(min-width: $sm) {
        column-count: 2;
        column-gap: 16px;
    }
    @media(min-width: $hd) {
        column-gap: 20px;
    }

    li {
        overflow: hidden;
        position: relative;
        padding-left: 52px;
        z-index: 1;

        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9494 3.75667C20.9387 3.57319 20.861 3.40003 20.731 3.27007C20.6011 3.1401 20.4279 3.06239 20.2444 3.05167C13.1072 2.63261 7.39035 4.78136 4.95285 8.81261C4.10794 10.1916 3.69159 11.7904 3.7566 13.4064C3.79903 14.4397 4.00928 15.4593 4.3791 16.4251C4.40083 16.4845 4.43725 16.5375 4.48497 16.5791C4.53269 16.6207 4.59015 16.6495 4.65201 16.6629C4.71387 16.6763 4.7781 16.6738 4.83874 16.6556C4.89937 16.6375 4.95443 16.6043 4.99879 16.5592L12.9675 8.46855C13.0372 8.39886 13.1199 8.34359 13.211 8.30588C13.302 8.26816 13.3996 8.24875 13.4982 8.24875C13.5967 8.24875 13.6943 8.26816 13.7853 8.30588C13.8764 8.34359 13.9591 8.39886 14.0288 8.46855C14.0985 8.53823 14.1537 8.62095 14.1915 8.712C14.2292 8.80304 14.2486 8.90062 14.2486 8.99917C14.2486 9.09772 14.2292 9.1953 14.1915 9.28634C14.1537 9.37739 14.0985 9.46011 14.0288 9.5298L5.32035 18.3695L3.99004 19.6998C3.85169 19.8345 3.76909 20.0163 3.75867 20.2091C3.74825 20.4019 3.81076 20.5916 3.93379 20.7404C4.00116 20.8184 4.0839 20.8817 4.17683 20.9264C4.26976 20.971 4.3709 20.996 4.47391 20.9997C4.57693 21.0035 4.67962 20.986 4.77558 20.9483C4.87153 20.9107 4.95868 20.8536 5.0316 20.7807L6.60566 19.2067C7.93129 19.8479 9.2691 20.1976 10.5957 20.2445C10.7 20.2482 10.8041 20.2501 10.9079 20.2501C12.4185 20.254 13.9006 19.8379 15.1885 19.0482C19.2197 16.6107 21.3694 10.8948 20.9494 3.75667Z' fill='%23627856'/%3E%3C/svg%3E%0A");
            content: '';
            height: 24px;
            left: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
        }
    }
}

.responsive-table {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    border: none;
    width: 100%;

    th {
        background-color: #D9D9D9;
        padding: 20px;
    }

    td,
    th {
        border: none;
        font-weight: 300;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    tbody {
        tr:nth-child(1) {
            td {
                padding-top: 20px;
            }
        }
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-leaf {
    background-color: var(--leaf_green);
}

.figured-image {
    border-radius: 120px 0 120px 0;
    display: block;
    max-width: 475px;
    width: 100%;
    @media(min-width: $sm) {
        border-radius: 160px 0 160px 0;
    }
}

.simple-image {
    border-radius: 12px;
    display: block;
}

.image-caption {
    font-size: 14px;
    font-weight: 500;
}