@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/subset-Montserrat-Regular.woff2") format('woff2'), url("../fonts/subset-Montserrat-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/subset-Montserrat-SemiBold.woff2") format('woff2'), url("../fonts/subset-Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/subset-Montserrat-Medium.woff2") format('woff2'), url("../fonts/subset-Montserrat-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/subset-Montserrat-Light.woff2") format('woff2'), url("../fonts/subset-Montserrat-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cormorant Unicase';
    src: url("../fonts/subset-CormorantUnicase-Regular.woff2") format('woff2'), url("../fonts/subset-CormorantUnicase-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*@font-face {
    font-family: 'Cormorant Unicase';
    src: url("../fonts/subset-CormorantUnicase-Light.woff2") format('woff2'), url("../fonts/subset-CormorantUnicase-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}*/