.info-incut {
    @media(min-width: $sm) {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: space-between;
    }

    &__text {
        line-height: 1.5;

        h2 {
            margin-bottom: 8px;
        }

        .button {
            width: 100%;
            @media(min-width: $sm) {
                max-width: 340px;
            }
        }
    }

    &__image {
        @media(min-width: $sm) {
            min-width: 375px;
            width: 375px;
        }
        @media(max-width: $sm - 0.02px) {
            margin-bottom: 20px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:not([class]) {
                @media(max-width: $sm - 0.02px) {
                    max-width: 120px;
                }
            }
        }
    }
}