.info-block {
    border: 1px solid var(--beige);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 160px;
    padding: 24px;

    &--240 {
        @media(min-width: $md) {
            min-height: 240px;
        }
    }

    &--260 {
        @media(min-width: $md) {
            min-height: 260px;
        }
    }

    &--wide {
        width: 100% !important;
    }

    &__icon {
        @media(min-width: $hd) {
            margin-bottom: 8px;
        }

        img {
            display: block;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        @media(min-width: $hd) {
            font-size: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    ul {
        &:not([class]) {
            li {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
        }
    }

    p {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}