.links-list {
    &:not(:first-child) {
        margin-top: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.link {
    align-items: center;
    display: flex;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    svg {
        fill: currentColor;
        height: 32px;
        min-width: 32px;
        width: 32px;
    }
}