.note-block {
    border-radius: 8px;
    font-size: 14px;
    padding: 16px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    & + & {
        margin-top: -8px;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    b {
        font-weight: 500;
    }

    &__icon {
        min-width: 40px;
        width: 40px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }

        img {
            display: block;
        }
    }

    &--iconed {
        @media(min-width: $sm) {
            display: flex;
            gap: 12px;
        }
    }

    &--centered {
        align-items: center;
    }

    &--type_1 {
        background-color: rgba(#D7B56D, 0.5);

        a {
            @include hover {
                color: var(--black);
                text-decoration: none;
            }
        }
    }

    &--type_2 {
        border: 2px solid var(--border_grey);
    }

    ul {
        &:not([class]) {
            li {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
        }
    }
}