.search-form {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
        margin-bottom: 12px;
        @media(min-width: $md) {
            margin-bottom: 32px;
        }
    }

    &__input {
        border-radius: 8px;
        border: 1px solid var(--border_grey);
        background-color: #F3F3F3;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        padding: 0 40px;
        width: 100%;

        &:focus {
            background-color: #fff;

            & + .search-form__button--submit {
                color: var(--black);
            }
        }

        &::-webkit-input-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }
    }

    &__button {
        @include button-reset;
        align-items: center;
        color: rgba(#000,0.6);
        display: flex;
        height: 48px;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 1;

        &--submit {
            left: 0;
        }

        &--clear {
            display: none;
            left: auto;
            right: 0;

            &.is-active {
                display: flex;
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }
}