.simple-slider {
    border-radius: 12px;
    height: 310px;
    @media(min-width: $sm) {
        height: 480px;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    img {
        border-radius: 12px;
        display: block;
        height: 310px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        @media(min-width: $sm) {
            height: 480px;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @include button-reset;
        color: #fff;
        height: 32px;
        transition: color 0.3s;
        width: 32px;

        svg {
            fill: currentColor;
            height: 32px;
            width: 32px;
        }

        &::after {
            display: none;
        }
    }

    .swiper-pagination-fraction {
        bottom: 0;
        color: rgba(#fff, 0.8);
        font-family: var(--secondary_font);
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        padding-left: 16px;
        padding-bottom: 16px;
        text-align: left;

        .swiper-pagination-current {
            color: #fff;
            font-size: 54px;
        }
    }
}