.two-columns {
    @media(min-width: $md) {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &--centered {
        align-items: center;
    }

    &:not(:first-child) {
        margin-top: 24px;
        @media(min-width: $md) {
            margin-top: 40px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 24px;
        @media(min-width: $md) {
            margin-bottom: 40px;
        }
    }

    & > div {
        @media(min-width: $md) {
            width: calc(100% / 2 - 20px / 2);
        }

        &:first-child {
            @media(max-width: $md - 0.02px) {
                margin-bottom: 12px;
            }
        }

        &:last-child {
            .figured-image {
                @media(min-width: $md) {
                    margin-left: auto;
                }
            }
        }
    }

    &__image-block {
        max-width: 575px;
        width: 100%;

        img {
            border-radius: 12px;
            display: block;
            width: 100%;
        }
    }
}