.also-programms {
    --gap: 16px;
    display: flex;
    gap: 16px;
    @media(max-width: $md - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        overflow-x: auto;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        scrollbar-width: none;
    }
    @media(min-width: $md) {
        flex-wrap: wrap;
    }
    @media(min-width: $hd) {
        --gap: 20px;
    }

    &__card {
        display: block;
        font-size: 16px;
        text-decoration: none;
        @include hover {
            img {
                transform: scale(1.02);
            }
        }
        @media(max-width: $md - 0.02px) {
            min-width: 276px;
            width: 276px;
        }
        @media(min-width: $md) {
            width: calc(100% / 4 - var(--gap) * 3 / 4);
        }
    }

    &__card-image {
        border-radius: 12px;
        display: block;
        margin-bottom: 8px;
        overflow: hidden;

        img {
            display: block;
            transform: scale(1);
            transition: transform 0.3s;
            width: 100%;
        }
    }

    &__card-title {
        display: block;
    }
}