.breadcrumbs {
    @include list-reset;
    color: var(--dark_grey);
    display: flex;
    font-size: 15px;
    gap: 12px;
    line-height: 1.33333;
    margin-bottom: 12px;
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    overflow-x: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
    white-space: nowrap;
    @media(min-width: $hd) {
        gap: 20px;
    }
    @media(min-width: $fhd) {
        font-size: 18px;
        margin-bottom: 24px;
    }

    &__item {
        align-items: center;
        display: flex;
        gap: 12px;
        @media(min-width: $hd) {
            gap: 20px;
        }

        &:not(:last-child) {
            &::after {
                background-color: var(--stroke);
                content: '';
                display: block;
                height: 24px;
                width: 1px;
            }
        }
    }

    a {
        align-items: center;
        display: flex;
        min-height: 40px;
        text-decoration: none;
    }
}