.cabinets {
    --gap: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap);
    @media(min-width: $md) {
        flex-direction: row;
    }

    &__item {
        border-radius: 12px;
        color: #fff;
        display: flex;
        min-height: 260px;
        overflow: hidden;
        padding: 24px;
        position: relative;
        text-decoration: none;
        z-index: 1;
        @media(min-width: $md) {
            aspect-ratio: 1;
            width: calc(100% / 2 - var(--gap) / 2);
        }
        @include hover {
            img {
                transform: scale(1.02);
            }
        }

        &::after {
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.05%, rgba(0, 0, 0, 0.4) 80%);
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        img {
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
            z-index: 0;
        }

        .leaf {
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
    }

    &__item-inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
        @media(max-width: $sm - 0.02px) {
            height: auto;
        }
        @media(min-width: $sm) {
            align-items: flex-end;
            flex-direction: row-reverse;
            margin-top: auto;
        }
    }

    &__item-title {
        font-size: 20px;
        position: relative;
        z-index: 2;
        @media(min-width: $sm) {
            font-size: 24px;
        }
    }
}