.comfort {
    --gap: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    @media(min-width: $md) {
        flex-direction: row;
        gap: var(--gap);
    }

    &__persons {
        --gap: 20px;
        display: flex;
        gap: var(--gap);
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
            overflow-x: auto;
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
        }

        .person-card {
            min-width: 214px;
            width: 214px;
            @media(min-width: $sm) {
                min-width: 348px;
                width: 348px;
            }
            @media(min-width: $md) {
                min-width: calc(100% / 3 - var(--gap) / 3 * 2);
                width: calc(100% / 3 - var(--gap) / 3 * 2);
            }
        }
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        @media(min-width: $sm) {
            flex-direction: row;
            gap: 12px 16px;
        }
        @media(min-width: $md) {
            gap: 20px;
            min-width: 31.2%;
            width: 31.2%;
        }

        .feature_2 {
            @media(min-width: $sm) and (max-width: $md - 0.02px) {
                width: calc(100% / 2 - 16px / 2);
            }
        }
    }
}

.person-card {
    border-radius: 12px;
    border: 1px solid var(--beige);
    padding: 16px;
    @media(min-width: $hd) {
        padding: 20px;
    }

    &__top {
        @media(min-width: $sm) and (max-width: $md - 0.02px) {
            display: flex;
            gap: 12px;
            margin-bottom: 12px;
        }

        p {
            @media(min-width: $sm) and (max-width: $md - 0.02px) {
                font-size: 11px;
            }
        }
    }

    &__avatar {
        border-radius: 50%;
        height: 120px;
        min-width: 120px;
        width: 120px;
        @media(max-width: $sm - 0.02px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 12px;
        }
        @media(min-width: $sm) {
            height: 110px;
            min-width: 110px;
            width: 110px;
        }
        @media(min-width: $md) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 16px;
        }
        @media(min-width: $hd) {
            height: 150px;
            min-width: 150px;
            width: 150px;
        }

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 8px;
        @media(min-width: $hd) {
            margin-bottom: 12px;
        }
    }

    &__badge {
        background-color: var(--leaf_green);
        border-radius: 8px;
        color: #fff;
        font-size: 11px;
        padding: 5px 8px;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $hd) {
            margin-bottom: 16px;
        }
    }

    p {
        font-size: 12px;
    }
}

.feature_2 {
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--beige);
    background-color: rgba(#D7B56D, 0.2);
    display: flex;
    gap: 16px;
    font-size: 12px;
    min-height: 90px;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;

    &__title {
        color: var(--beige);
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
        @media(min-width: $sm) {
            font-size: 20px;
        }
    }

    &__icon {
        align-items: center;
        border: 1px solid var(--beige);
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        height: 46px;
        justify-content: center;
        min-width: 46px;
        width: 46px;
    }
}