.main-banner {
    background-color: var(--rich_green);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    overflow: hidden;
    @media(min-width: $sm) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media(min-width: $md) {
        padding-top: 90px;
        padding-bottom: 45px;
    }

    &__inner {
        @media(min-width: $sm) {
            align-items: flex-start;
            display: flex;
            flex-direction: row-reverse;
            gap: 35px;
        }
    }

    &__media-block {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width: $sm - 0.02px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
            max-width: 340px;
        }
        @media(min-width: $sm) {
            min-width: 340px;
            width: 340px;
        }
        @media(min-width: $hd) {
            min-width: 490px;
            width: 490px;
        }
    }

    &__media {
        background-color: #fff;
        border-radius: 200px 0 200px 0;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        position: relative;
        width: 316px;
        z-index: 1;
        @media(min-width: $sm) {
            margin-bottom: 40px;
        }
        @media(min-width: $hd) {
            height: 525px;
            margin-bottom: 50px;
            width: 390px;
        }

        img {
            border-radius: 200px 0 200px 0;
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: relative;
            width: 100%;
            z-index: 1;
        }

        &::after {
            border: 1px solid var(--beige);
            border-radius: 200px 0 200px 0;
            content: '';
            height: 100%;
            left: 26px;
            position: absolute;
            top: 12px;
            width: 100%;
            z-index: 0;
        }
    }

    &__media-decor {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        width: 130px;
        z-index: 1;

        &--1 {}

        &--2 {
            transform: translateY(-90px);
            @media(min-width: $sm) {
                transform: translateY(-110px);
            }
            @media(min-width: $hd) {
                transform: translateY(-145px);
                width: 180px;
            }
        }

        img {
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text-block {
        h1 {
            font-size: 40px;
            line-height: 1.15;
            @media(min-width: $sm) {
                font-size: 48px;
            }
            @media(min-width: $hd) {
                font-size: 60px;
                margin-bottom: 20px;
            }

            .decor {
                position: relative;
                z-index: 1;

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6219 1.3902L19.4666 1.49538L19.3614 3.34004C18.8851 11.6948 11.7258 18.0816 3.3711 17.6053L1.52644 17.5001L1.63162 15.6554C2.10798 7.30068 9.26719 0.913832 17.6219 1.3902Z' stroke='white' stroke-linejoin='round'/%3E%3Cpath d='M5.49886 13.5009C3.16472 15.1683 1.35075 17.833 0.499023 19.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    content: '';
                    height: 20px;
                    left: calc(100% + 0.25em);
                    position: absolute;
                    top: 0.15em;
                    width: 20px;
                }
            }
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $hd) {
            font-size: 18px;
            margin-bottom: 32px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        @media(min-width: $md) {
            flex-direction: row;
        }
        @media(min-width: $hd) {
            margin-bottom: 70px;
        }

        .button {
            @media(min-width: $md) {
                width: calc(100% / 2 - 20px / 2);
            }
        }
    }

    &__feature {
        align-items: center;
        display: flex;
        gap: 4px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
        @media(min-width: $hd) {
            font-size: 13px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        img {
            min-width: 36px;
            width: 36px;
        }
    }

    &__guests {
        border-radius: 20px;
        border: 1px solid var(--beige);
        color: var(--beige);
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 20px;
        padding: 8px 16px;
        @media(min-width: $md) {
            margin-bottom: 48px;
        }
    }
}