.news-card {
    padding-bottom: 32px;
    @media(min-width: $sm) {
        padding-bottom: 40px;
    }
    @media(min-width: $md) {
        align-items: center;
        display: flex;
        gap: 24px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &:not(:first-child) {
        padding-top: 32px;
        @media(min-width: $sm) {
            padding-top: 40px;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--border_grey);
    }

    &__image {
        margin-bottom: 12px;
        max-width: 475px;
        width: 100%;
        @media(min-width: $sm) {
            margin-bottom: 24px;
        }
        @media(min-width: $md) {
            min-width: 475px;
            margin-bottom: 0;
        }
        @media(max-width: $md - 0.02px) {
            margin-left: auto;
            margin-right: auto;
        }

        img {
            border-radius: 120px 0 120px 0;
            display: block;
            width: 100%;
            @media(min-width: $sm) {
                border-radius: 160px 0 160px 0;
            }
        }
    }

    &__text {
        flex-grow: 1;
        line-height: 1.5;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $md) {
            max-width: 560px;
        }

        time {
            display: block;

            &:not(:last-child) {
                margin-bottom: 24px;
                @media(min-width: $hd) {
                    margin-bottom: 32px;
                }
            }
        }

        .button {
            width: 100%;
            @media(min-width: $sm) {
                max-width: 340px;
            }
        }
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 8px;
        @media(min-width: $sm) {
            font-size: 24px;
            margin-bottom: 12px;
        }
    }
}