.scroller-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    @media(min-width: $hd) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__link {
        border: 1px solid var(--beige);
        border-radius: 8px;
        color: var(--black);
        display: block;
        font-size: 16px;
        line-height: 1.3;
        padding: 8px 12px;
        text-decoration: none;
        user-select: none;
        white-space: nowrap;
        @include hover {
            color: var(--beige);
        }

        &.is-active {
            background-color: var(--beige);
            @include hover {
                color: var(--black);
            }
        }
    }
}