.search-form {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
        margin-bottom: 12px;
        @media(min-width: $md) {
            margin-bottom: 32px;
        }
    }

    & + .search-options {
        @media(min-width: $md) {
            margin-top: -22px;
        }
    }

    &__input {
        border-radius: 8px;
        border: 1px solid var(--border_grey);
        background-color: #F3F3F3;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        padding: 0 40px;
        width: 100%;

        &:focus {
            background-color: #fff;

            & + .search-form__button--submit {
                color: var(--black);
            }
        }

        &::-webkit-input-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: rgba(#000,0.6);
            opacity: 1;
        }
    }

    &__button {
        @include button-reset;
        align-items: center;
        color: rgba(#000,0.6);
        display: flex;
        height: 48px;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 1;

        &--submit {
            left: 0;
        }

        &--clear {
            display: none;
            left: auto;
            right: 0;

            &.is-active {
                display: flex;
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }
}

.search-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;

    &:not(:last-child) {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 32px;
            @media(min-width: $hd) {
                margin-bottom: 70px;
            }
        }
    }
}

.search-option {
    background-color: transparent;
    border: 1px solid var(--border_grey);
    border-radius: 8px;
    color: var(--black);
    cursor: pointer;
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    @include hover {
        background-color: var(--leaf_green);
        border-color: var(--leaf_green);
        color: #fff;
    }
}

.search-popup {
    background-color: var(--rich_green);
    bottom: 0;
    color: #fff;
    display: none;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    overflow-y: auto;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    .container {
        width: 100%;
    }

    &__top {
        background-color: var(--rich_green);
        left: 0;
        padding: 10px var(--container_padding) 24px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
        @media(min-width: $sm) {
            padding-top: 20px;
            padding-bottom: 32px;
        }
        @media(min-width: $sm) {
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
        }
    }

    &__closer {
        @include button-reset;
        align-items: center;
        color: rgba(#fff,0.7);
        display: flex;
        height: 48px;
        justify-content: center;
        width: 48px;
        transition: color 0.3s;
        z-index: 1;
        @media(max-width: $sm - 0.02px) {
            margin-left: auto;
            margin-bottom: 14px;
        }
        @include hover {
            color: #fff;
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    .search-form {
        flex-grow: 1;
        position: relative;
        z-index: 1;
    }

    .search-form__input {
        border: 1px solid rgba(#fff, 0.3);
        background-color: transparent;
        color: #fff;

        &:focus {
            border-color: var(--border_grey);

            & + .search-form__button--submit {
                color: #fff;
            }
        }

        &::-webkit-input-placeholder {
            color: rgba(#fff,0.7);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: rgba(#fff,0.7);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: rgba(#fff,0.7);
            opacity: 1;
        }
    }

    .search-form__button {
        color: rgba(#fff,0.7);
    }

    &__bottom {
        --v_gap: 24px;
        --h_gap: 16px;
        display: flex;
        flex-direction: column;
        gap: var(--v_gap) var(--h_gap);
        padding-top: 144px;
        @media(min-width: $sm) {
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 100px;
        }
        @media(min-width: $hd) {
            --h_gap: 20px;
        }

        .search-popup__bottom-column {
            @media(min-width: $sm) {
                width: calc(100%/ 2 - var(--h_gap) / 2);
            }
            @media(min-width: $md) {
                width: calc(100%/ 3 - var(--h_gap) * 2 / 3);
            }
        }
    }

    &__bottom-column {}

    &__options-title {
        font-size: 15px;
        font-weight: 500;
        @media(min-width: $sm) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .search-option {
        border: none;
        background-color: #495144;
        color: #fff;
        @include hover {
            background-color: var(--extra_green);
        }
    }
}

.search-results {
    li {
        background-color: var(--grey_light);
        padding: 8px 12px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        small {
            display: block;
            margin-top: 8px;
        }
    }
}