.subscribe {
    @media(min-width: $md) {
        align-items: center;
        display: flex;
        gap: 20px;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 20px;
        @media(min-width: $md) {
            margin-bottom: 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media(min-width: $sm) {
            align-items: center;
            flex-direction: row;
            gap: 0;
            min-width: 475px;
            width: 475px;
        }
    }

    &__input {
        @media(min-width: $sm) {
            border-radius: 8px 0 0 8px;
        }
    }

    &__submit {
        @media(min-width: $sm) {
            border-radius: 0 8px 8px 0;
            height: 44px !important;
            min-width: 166px;
            width: 166px;
        }
    }
}