.you-need {
    font-size: 16px;
    font-weight: 500;
    @media(min-width: $hd) {
        font-size: 18px;
    }

    p {
        align-items: center;
        display: flex;
        gap: 8px;

        img {
            min-width: 24px;
            width: 24px;
        }
    }
}