<header class="header compensate-for-scrollbar">
    <div class="header__inner container">
        <a class="header__logo" href="#">
            <img src="images/logo.svg" alt="Сибирь">
        </a>

        <button class="header__search-opener header__button" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#search_icon" />
            </svg>
            <span>Поиск</span>
        </button>

        <button class="header__menu-opener header__button" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger_icon" />
            </svg>
            <span>МЕНЮ</span>
        </button>

        <a class="header__phone header__button" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#phone_icon" />
            </svg>
            <span>+7 (3452) 687-000</span>
        </a>

        <a class="button button--primary button--h_40" href="#">
            <span>Забронировать</span>
        </a>
    </div>
</header>